{% extends 'main_page.html' %}

{% block content %}
    <div class="container mx-auto mt-8">
        <div class="bg-white p-8 rounded-lg shadow">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <li class="error">{{ message }}</li>
                        {% elif message.tags == 'success' %}
                            <li class="success">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            <h1 class="text-3xl font-semibold mb-6">Purchase Successful</h1>

            {% if purchases %}
                {% with purchase=purchases.0 %}
                    <p>You have successfully purchased {{ purchase.quantity }} {{ purchase.product.name }}(s).</p>

                    <p>Transaction details:</p>
                    <ul>
                        <li><strong>Product:</strong> {{ purchase.product.name }}</li>
                        <li><strong>Quantity:</strong> {{ purchase.quantity }}</li>
                        <li><strong>Total Amount:</strong> ${{ total_amount|floatformat:2 }} </li>
                    </ul>
                {% endwith %}
            {% endif %}

            <p>Thank you for shopping with us!</p>

            <a href="{% url 'product_list' %}" class="mt-4 inline-block px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl">Continue Shopping</a>
        </div>
    </div>
{% endblock %}
