{% extends 'main_page.html' %}

{% block title %}Purchase History{% endblock %}

{% block content %}
    <h2 class="text-2xl mb-4">Purchase History</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if purchases %}
        <ul>
            {% for purchase in purchases %}
                <li>
                    <p>Product: {{ purchase.product.name }}</p>
                    <p>Quantity: {{ purchase.quantity }}</p>
                    <p>Total Amount: $ {{ purchase.total_amount }} </p>
                    <form method="post" action="{% url 'return_product' purchase.id %}">
                        {% csrf_token %}
                        <button type="submit">Refund</button>
                    </form>
                    <hr>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No purchase history available.</p>
    {% endif %}
{% endblock %}
